<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="row">
        <div class="col-2">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              月份
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/filter/month/01">1月</a>
              <a class="dropdown-item" href="/filter/month/02">2月</a>
              <a class="dropdown-item" href="/filter/month/03">3月</a>
              <a class="dropdown-item" href="/filter/month/04">4月</a>
              <a class="dropdown-item" href="/filter/month/05">5月</a>
              <a class="dropdown-item" href="/filter/month/06">6月</a>
              <a class="dropdown-item" href="/filter/month/07">7月</a>
              <a class="dropdown-item" href="/filter/month/08">8月</a>
              <a class="dropdown-item" href="/filter/month/09">9月</a>
              <a class="dropdown-item" href="/filter/month/10">10月</a>
              <a class="dropdown-item" href="/filter/month/11">11月</a>
              <a class="dropdown-item" href="/filter/month/12">12月</a>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              類別
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/filter/category/home">家居物業</a>
              <a class="dropdown-item" href="/filter/category/shuttle-van">交通出行</a>
              <a class="dropdown-item" href="/filter/category/grin-beam">休閒娛樂</a>
              <a class="dropdown-item" href="/filter/category/utensils">餐飲食品</a>
              <a class="dropdown-item" href="/filter/category/pen">其他</a>
            </div>
          </div>
        </div>
      </div>

      <div class="message text-center mt-4">
        {{> messages}}
      </div>

      <h1>總金額:{{totalAmount}}</h1>

      {{#each records}}
      <div class="media text-muted pt-3">
        <div class="mt-1 mr-3">
          <h1><i class="fas fa-{{{this.category}}}"></i></h1>
        </div>

        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <h1 class="text-gray-dark">{{{this.name}}}</h1>
            <div class="btn-group align-items-center mt-3">
              <div class="mr-5 ">
                <h2 class="text-gray-dark">{{{this.amount}}}</h2>
              </div>

              <a href="/record/{{{this.id}}}/edit"><button type="button" class="btn btn-sm btn-outline-danger mx-1">修改
                  <i class="far fa-edit"></i></button></a>
              <form action="/record/{{{this.id}}}/delete?_method=DELETE" method="post">
                <button type="button submit" class="btn btn-sm btn-outline-danger">刪除 <i
                    class="far fa-trash-alt"></i></button>
              </form>
            </div>
          </div>
          <span class="d-block">{{{this.date}}}</span>
        </div>
      </div>

      {{/each}}

      <h3 class="d-block text-right mt-3">
        <a href="/record/new">新增支出</a>
      </h3>

    </div>
  </div>
</div>